<br><br><br>
<br><br><br>
<div class="container-fluid mt-20 mb-20">
    <app-skeleton *ngIf="loader && !isError"></app-skeleton>
    <div class="row mt-5">
        <div class="col-md-12 text-center" *ngIf="!loader && !isError">
            <h2 class="mb-3">Movies Genres</h2>
            <a *ngFor="let genre of genreslist" routerLink="/genres/{{genre.id}}/{{genre.name}}">
                <button mat-raised-button color="primary" class="genre-card blue-theme" aria-label="Genres">
                    {{genre.name}}
                </button>
            </a>
        </div>
    </div>
</div>

<div class="container-fluid mt-20 mb-20">
    <app-skeleton *ngIf="loader && !isError"></app-skeleton>
    <div class="row">
        <div class="col-md-12 text-center" *ngIf="!loader && !isError">
            <h2 class="mt-5 mb-5">TV Genres</h2>
            <a *ngFor="let genre of genreslist" routerLink="/genres-tv/{{genre.id}}/{{genre.name}}">
                <button mat-raised-button color="primary" class="genre-card blue-theme" aria-label="Genres">
                    {{genre.name}}
                </button>
            </a>
        </div>
    </div>
</div>

<div class="text-center" *ngIf="!loader && isError">
    <h1>- 500 -</h1>
    <h3>Something went error</h3>
</div>