<nav class="navbar navbar-expand-lg navbar-light fixed-top" [ngClass]="{'mt-2': loading && isShowLoading}">
    <a class="navbar-brand" [routerLink]="['/']">FlixBro</a>
    <ul class="navbar-nav ml-auto listMenu">
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/movies']" routerLinkActive="router-link-active">Movies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/tv']" routerLinkActive="router-link-active">TV Shows</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/genres']" routerLinkActive="router-link-active">Genres</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/favorites']" routerLinkActive="router-link-active">My Favorites</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" *ngIf="language === 'en-US'" style="cursor: pointer;" (click)="isShow = true">
                <img src="assets/images/english.png" width="20px" class="mr-2"> English
            </a>
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" *ngIf="language === 'id-ID'" style="cursor: pointer;" (click)="isShow = true">
                <img src="assets/images/indonesia.png" width="20px" class="mr-2"> Indonesian
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" *ngIf="isShow">
                <a class="dropdown-item" *ngIf="language !== 'en-US'" style="cursor: pointer;"
                    (click)="setLanguage('en-US')">
                    <img src="assets/images/english.png" width="20px" class="mr-2">English
                </a>
                <a class="dropdown-item" *ngIf="language !== 'id-ID'" style="cursor: pointer;"
                    (click)="setLanguage('id-ID')">
                    <img src="assets/images/indonesia.png" width="20px" class="mr-2">Indonesian
                </a>
            </div>
        </li>
    </ul>
    <span class="sidebar-nav-btn" pButton icon="pi pi-plus" label="Show" (click)="leftSidebar = true"><img
            src="assets/images/menu.svg"></span>
</nav>

<p-sidebar [(visible)]="leftSidebar" position="left" [baseZIndex]="10000">
    <div class="sidebarNav">
        <div class="menu-container">
            <div class="sidebarMenu" (click)="leftSidebar = false">
                <img src="assets/images/home.svg">
                <a class="sidebar-nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home
                    <span class="sr-only">(current)</span>
                </a>
            </div>
            <div class="sidebarMenu" (click)="leftSidebar = false">
                <img src="assets/images/videos.svg">
                <a class="sidebar-nav-link" [routerLink]="['/movies']" routerLinkActive="router-link-active">Movies</a>
            </div>
            <div class="sidebarMenu" (click)="leftSidebar = false">
                <img src="assets/images/tv.svg">
                <a class="sidebar-nav-link" [routerLink]="['/tv']" routerLinkActive="router-link-active">TV Shows</a>
            </div>
            <div class="sidebarMenu genre_" (click)="leftSidebar = false">
                <img src="assets/images/tripod.svg">
                <a class="sidebar-nav-link" [routerLink]="['/genres']" routerLinkActive="router-link-active">Genres</a>
            </div>
            <div class="sidebarMenu genre_" (click)="leftSidebar = false">
                <img src="assets/images/favorite.svg">
                <a class="sidebar-nav-link" [routerLink]="['/favorites']"
                    routerLinkActive="router-link-active">Favorites</a>
            </div>
        </div>
    </div>
</p-sidebar>