mat-paginator {
    background: #212121;
}

mat-paginator {
    color: #fff;
}

.searchdesign {
    height: 44px;
    background: #212121;
    border: 1px solid #716e6e;
    color: #fff;
    font-size: 15px;
}

.btnDesign {
    height: 44px;
    border-radius: 0;
    width: 55px;
    background: #dc4666;
    border: #dc4666;
}

#myBtn {
    background: #dc4666 !important;
    border: #dc4666 !important;
    display: none;
    position: fixed;
    width: 50px;
    right: 25px;
    bottom: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 9;
}